
@{
    ViewBag.Title = "Edit";
    @model MoreyAssignment3.Models.EntryResponse
}

<h2>Edit Entry for @ViewBag.EntryResponse.Title</h2>
<form asp-action="Edit2" method="post">
    <div>
        <label asp-for="Category">Category: </label>
        <input asp-for="Category" />
    </div>

    <div>
        <label asp-for="Title">Title: </label>
        <input asp-for="Title" />
    </div>

    <div>
        <label asp-for="Year">Year: </label>
        <input asp-for="Year" />
    </div>

    <div>
        <label asp-for="Director">Director: </label>
        <input asp-for="Director" />
    </div>

    <div>
        <label asp-for="Rating">Rating: </label>
        <select asp-for="Rating">
            <option value="">Select One</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG13">PG-13</option>
            <option value="R">R</option>
        </select>
    </div>

    <div>
        <label asp-for="Edited">Edited: </label>
        <select asp-for="Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

    </div>

    <div>
        <label asp-for="LentTo">Lent To: </label>
        <input asp-for="LentTo" />
    </div>

    <div>
        <label asp-for="Notes">Notes: </label>
        <input asp-for="Notes" />
    </div>

    <br />

    <input type="hidden" asp-for="MovieId" value="@ViewBag.EntryResponse.MovieId" />

    <button type="submit">Update the Movie</button>
    <div asp-validation-summary="All"></div>
</form>
