@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="p-2">
    <p>Welcome to the Joel Hilton Film Collection. This is me, Joel Hilton.</p>
    <br />
    <br />
    <img src="~/lib/JoelHilton.jpg" width="800" class="p-2"/>
</div>

<div class="p-4">
    <a asp-action="MovieForm">Click here to enter a movie</a>
</div>
