@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <p>Welcome to the Joel Hilton Film Collection. This is me, Joel Hilton.</p>
    <br />
    <br />
    <img src="~/lib/JoelHilton.jpg" width="800" />
</div>

<a asp-action="MovieForm">Click here to enter a movie</a>

